

.header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    float: right;
    position: fixed;
    background:#fff;
    height: 80px;
    z-index: 99999;
}
.img1 {
    width: 100px;
    height: 100px;
    margin-left: 180px;
    padding: 10px;
}
.navbar-light{
    height: 115px;
}