

.header{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    float: right;
    position: fixed;
    background:#fff;
    height: 80px;
    z-index: 99999;
}
.img{
    width: 100px;
    height: 100px;
    margin-left: 300px;
}
.navbar-expand-lg{
    background-color: black;
}
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: end;
}
