

.header {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    float: right;
    position: fixed;
    background:rgb(255, 255, 255);
    height: 80px;
    z-index: 99999;
}
.navbar-expand-lg {
    background-color: black;
}
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: end;
} 
.img1 {
    width: 100px;
    height: 100px;
    margin-left: 180px;
    padding: 10px;
}
.navbar-light{
    height: 115px;
}