<div class="container-full" style="background: #8ba6c4;">
    <div class="container padding-tb">
        <div class="section-qs">
            <div class="title-qs">
                <h2>Quem Somos ?</h2>
                <h3>Lorem ipsum sum dollor ipsum sum dollor </h3>
            </div>
            <div class="content-qs">
                <div class="box-qs1">
                    <img src="./assets/images/sucesso.jpg" style="height: 570px;">
                </div>
                <div class="box-qs2">
                    <div class="description">
                        <h2><i class="fas fa-leaf"></i> Daniela Telles</h2>
                        <p> Engenheira Química formada pela UFU (Universidade
                            Federal de Uberlândia). </p>
                        <p> Pós graduada em Engenharia de Controle da Poluição Ambiental pela Faculdade de Saúde Pública da USP. Mestranda em
                            Saúde, Ambiente e Sustentabilidade pela Faculdade de Saúde Pública -USP. </p>
                        <p> Possui sólidos conhecimentos na elaboração de estudos de viabilidade
                            técnica e econômica, seleção de tecnologia nacional e importada,
                            adequação de estações ao Conama 357, 430, Lei Estadual, desenvolvimento
                            de novas estações, obtidos através da participação em projetos de
                            construção de ETE e ETA de empresas nacionais e multinacionais, dos
                            setores papeleiro, químico, farmacêutico, energia, bebidas, alimentos e
                            petroquímico. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 