.services{
    
    float: left;
    position: relative;
}
.section-service{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section-service .title-service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}
.section-service .title-service h2{
    color: #29d9c2;
}
.section-service .title-service h3{
    color: #909090;
}



.section-service .content-service{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px;
}

.section-service .content-service .box-service{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.section-service .content-service .box-service h3{
    color: #29d9c2;
    text-transform: uppercase;
}
.section-service .content-service .box-service small a{
    color: #909090;
    text-transform: uppercase;
}
.more-service{
    width: 100%;
    float: left;
    position: relative;
}
.col {
    background-color: rgb(0, 0, 0);
    border:4px solid;
    margin: 20px;
    color:rgb(121, 117, 116);
}
.col-12{
    background-color: brown;
    color: cadetblue;
}













//Card

@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Space+Grotesk:wght@300;400&display=swap');
    body {
        background-color:#FCBF49;
    }
    .wrapper{margin:10vh}

    // Informaçoes do card

.card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow:hidden;
    border-radius:20px;
    min-height:450px;
        box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    
    @media (max-width: 768px) {
        min-height:350px;
    }
    
    @media (max-width: 420px) {
        min-height:300px;
    }
    
    &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
        background-size:120%;
        background-repeat:no-repeat;
        background-position: center center;
        &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
    }
    
        &:hover {
        transform: scale(0.98);
        box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
        background-size:130%;
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    
        .card-img-overlay {
            transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
            background: rgb(35,79,109);
        background: linear-gradient(0deg, rgba(83, 119, 145, 0.5) 0%, rgb(58, 90, 97) 100%);
            }
        }
    }
    .card-footer {
        background: none;
        border-top: none;
        .media {
        img {
            border:solid 3px rgba(234,95,0,0.3);
        }
        }
    }
    .card-meta {color:orange}
    .card-body { 
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    &:hover {
        .card-body {
        margin-top:30px;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: rgb(35,79,109);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.379) 0%, rgb(65, 117, 165) 100%);
    } 
    .descricao, p{
        color: #fff;
        font-size: 15px;
        font-family: 'Space Grotesk', sans-serif;
        display: inline-block;
    }
}

.col-12 {  //primeira imagem com 80% da tela
    background-color: rgb(255, 255, 255) !important;
    height: 480px;
}





















