#contact-f{
    position: fixed;
    right: 5px;
    bottom: 5px;

    .icon-contact{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.212);
        border: 1px solid #fff;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.social-media{
    font-size: 25px;
}
.icon {
    margin: 5px 10px;
    color: #8ba6c4;
    transition: 0.5s all;
}
.icon:hover {
    color: #485c88;
    transition: 0.5s all;
}
.fa-gem, .fa-print, .fa-phone, .fa-envelope, .fa-home {
    margin: 5px;
}