
/*.navigator ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: end;
}

.navigator ul li {
    padding: 5px 25px;
    float: left;
}

.navigator ul li a {
    color: #4682B4;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
}

.navigator ul li:hover a {
    font-weight: 500;
}*/


.navbar-nav {
    margin: auto;
    background-color: #f8f8f8;
    justify-content: right;
}